/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
/* Sidebar/left column */


.flex-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
}


.aside {
  flex: 70%;
/*    background-color: #f1f1f1;*/
    background-color: whitesmoke;
  padding: 20px;
}
.editor {
  flex-direction: column;
  background-color: white;
  padding: 10px;
  flex: 15%;
}
.form-row{
	display: flex;
	justify-content: flex-end;
	padding: .5em;
}
.form-row > label {
	flex: 1;
}
.form-row > input {
	flex: 2;
}


.edit{
	display: none;
}
