/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
/* Sidebar/left column */


.flex-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px;
}
.aside {
  flex: 70%;
/*    background-color: #f1f1f1;*/
    background-color: whitesmoke;
  padding: 20px;
}
.editor {
  flex-direction: column;
  background-color: white;
  padding: 10px;
  flex: 15%;
}
.form-row{
	display: flex;
	justify-content: flex-end;
	padding: .5em;
}
.form-row > label {
	flex: 1;
}
.form-row > input {
	flex: 2;
}
.row > h3 {
	flex: 1;
}
.signoff_state{
	display: none;
}
.hform {
	float:left;
	margin-right:20px;
}
.buttonlaunch {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  width: 5px;
  border-radius: 50%;
}
.buttonlanding {
  background-color: red; /* red */
  border: none;
  color: white;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  width: 5px;
  border-radius: 50%;
}

.edit{
	display: none;
}
.viewstop{
	display: none;
}

.viewstart{
	display: inline;
}
.inflight .viewstart {
	display: none;
}
.inflight .viewstop {
	display: inline;
}

.landed .viewstart  {
	display: none;
}
.landed .viewstop  {
	display: none;
}

// table css  
 .Table
{
    display: table;
}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
/*     font-size: larger; */
}
.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row
{
    display: table-row;
}
.Row-red
 {
     display: table-row;
     color: red
 }
 .Row-orange
 {
     display: table-row;
     color: orange
 }
 .Row-yellow
 {
     display: table-row;
     color: yellow
 } 
 .Row-green
 {
     display: table-row;
     color: green
 }      
.Cell0
{
  	background-color: gray; 
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 40px;
}
.Cell
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
}
.Cell1
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 110px;
}
.Cell2
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 160px;
}
.Cell3
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 240px;
}
// table CSS 
.table-container {
    display: table;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.table-heading {
    font-weight: bold;
    display: table-caption;
    background-color: #e9e9e9;
    text-align: center;
    padding: 8px;
    line-height: 21px;
    font-size: 18px;
}

.table-row {
    display: table-row;
    text-align: center;
}

.table-row-shade {
    display: table-row;
    text-align: center;
    background-color: #e9e9e9;
}

.table-col {
    display: table-cell;
    text-align: center;
    padding: 4px;
    border: 1px solid #ca8327;
}
h3.red{
	color: red
}
.div-table {
  display: table;         
  width: auto;         
  background-color: #eee;         
  border: 1px solid #666666;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col0 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 50px;         
  background-color: #FFF;  
}
.div-table-col4 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 40px;         
  background-color: #FFF;  
}
.div-table-col1 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 300px;         
  background-color: #ccc;  
}

.div-table-col100 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 100px;         
  background-color: #ccc;  
}

.div-table-col100b {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 100px;         
  background-color: #fff;  
}

.div-table-col125 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 125px;         
  background-color: #fff;  
}

.div-table-col75 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 75px;         
  background-color: #fff;  
}

.div-table-col75b {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 75px;         
  background-color: #ccc;  
}
.div-table-col50 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 50px;         
  background-color: #ccc;  
}

.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 200px;         
  background-color: #FFF;  
}

.div-table-col160 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 160px;         
  background-color: #FFF;  
}
.squawk_body {
	background-color: #0A335C;
    text-align: center;
    color: #FFCC00;
}
.squawk_box {
	background-color: #999999;
}

.squawk_user_name {
	color: #FFCC00;
	font-weight: bold;
	font-size: 14px;
}
.squawk_text {
	color: #EBEBEB; 
	font-size: 14px; 
	font-weight: bold; 
	font-style: italic; 
}
.squawk_list_text {
	color: #FFFFFF; 
	font-size: 12px; 
	font-weight: bold; 
	font-style: italic; 
}
.select_list {
	color: #1e90ff ;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}
input[type=submit] {
        background-color: #1e90ff;
        border: none;
        color: #fff;
        padding: 15px 30px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }
.centered{
 	display: block;
    margin-left: auto;
    margin-right: auto
}

a.buttons {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
} 
.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}
.nextPreviousButtons {
  text-align: center;
}