/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
// table css  
 .Table
{
    display: table;
}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row
{
    display: table-row;
}
.Cell0
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 40px;
}
.Cell
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
}
.Cell2
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 160px;
}
.Cell3
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 240px;
}
// /table CSS 
ul { 
list-style-type: none;
}
.editing .view {
	display: none;
}
.edit{
	display: none;
}
.hiding{
	display: none;
}
.editing .edit {
	display: inline;
}
// background color for datapicker. 
.ui-datepicker {
  background: #FFFFFF ;

}
/* 
#expire_date {
	display: none;
}
 */