/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
/* table css   */ 
 .Table
{
    display: table;
}
.Title
{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Heading
{
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.Row
{
    display: table-row;
}
.Cell0
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 40px;
}
.Cell
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 80px;
}
.Cell2
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 160px;
}
.Cell3
{
    display: table-cell;
     text-align: center;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    width: 240px;
}
// table CSS 
ul { 
list-style-type: none;
}


.editing .view {
	display: none;
}

/* 
this is causing "Activate" in the plugins page to vanish
I suspect there is a edit class used by wordpress currently
we are not using this. if we do need to use it suggest remanmin
cb_edit. */
.cb_edit{
	display: none;
}

.hiding{
	display: none;
}
.editing .cb_edit {
	display: inline;
}
// background color for datapicker. 
.ui-datepicker {
  background: #FFFFFF ;
}
div-table {
  display: table;         
  width: auto;         
  background-color: #eee;         
  border: 1px solid #666666;         
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col0 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 50px;         
  background-color: #FFF;  
}
.div-table-col4 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 40px;         
  background-color: #FFF;  
}
.div-table-col1 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 300px;         
  background-color: #ccc;  
}

.div-table-col100 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 100px;         
  background-color: #ccc;  
}

.div-table-col100b {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 100px;         
  background-color: #fff;  
}

.div-table-col125 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 125px;         
  background-color: #fff;  
}

.div-table-col75 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 75px;         
  background-color: #fff;  
}

.div-table-col75b {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 75px;         
  background-color: #ccc;  
}
.div-table-col50 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 50px;         
  background-color: #ccc;  
}

.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 200px;         
  background-color: #FFF;  
}

.div-table-col160 {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 160px;         
  background-color: #FFF;  
}

.labelchiefname{  
width:110px;  display: inline-block;
}
input, label {
	display:block;
}
.hform {
	float:left;
	margin-right:20px;
}